.checkbox-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  background: #fff;
  padding: 4px 8px;
  border-radius: 4px;
}

.checkbox-label {
  margin-left: 8px;
  font-size: 1rem;
  color: #222;
}